.my-card{
  margin-bottom: 1rem;
}

img{
  margin-bottom: 0.25rem;
}
#img-edit{
  position: absolute;
  top: 0;
  right: 0;
}
#img-cancel, #img-save{
  margin: .5rem;
}
input{
  border: 1px solid black;
}